body {
	background: none repeat scroll 0 0 #fff;
	color:   #222;
	margin:  0;   display: block;
   margin:  8px;
}

ul.nav {
   float: right;
   margin-right: 25px;
}
ul.nav li {
list-style: none;
display: inline-block;
text-align: right;
padding:  5px 10px 0 0;
vertical-align: bottom;
font-size: 13px; 
}
a {
  color: #222;
  text-decoration:  none;
}
* {
  font-size:18px;
} 
.fa {
  font-size:20px;
  vertical-align: top;
  opacity: 0.7;
  cursor: default;
}
.fa {
  display: inline-block;
  font-family: FontAwesome;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
}
span.share {
   background-color:  #f2f2f2;
   padding: 7px 15px;
   cursor: default;
   position: relative;
   top: -3px;
}
img.profile_img {
  border-radius: 25px;
  height: 32px;
  width: 32px;
  position: relative;
  top: 5px;
}
div.searchBox {
  position: absolute;
  margin-top: 75px;
  width: 100%
}
div.searchBox img {
  padding: 142px 0 24px 0;
  display: block;
  margin: 0 auto;
}
.searchBox input {
width: 600px;
margin: 0 auto;
padding: 5px;
border: 1px solid #d9d9d9;
font-size: 16px;
border-radius: 5px;
display: block;
}
div.bottom {
   bottom: 0 !important;
   position: absolute;
   width: 100%;
   background: #f2f2f2;
   border-top: 1px solid #e4e4e4;
}
.buttons { 
 text-align: center;
}
.left {
    float:left;
    padding-left: 20px;
}   
.right {
	float: right;
	padding-right: 10px;
}
.bottom li {
	list-style: none;
	display: inline;
	line-height: 40px;
}
.bottom li a { 
 color: #666;
 margin: 2px 10px 0;
 letter-spacing: 0.1;
 font-size: 18px;
}
.buttons button {
	background-color: #f5f5f5;
	border: 1px solid rgba( 0, 0, 0, 0.1);
	border-radius: 2px;
	color: #666;
	font-size: 14px;
	font-weight: bold;
	line-height: 27px;
	margin: 17px 6px;
	padding: 0 12px;
	display: inline-block;
	cursor: pointer;	
}

/*Media Queries*/
/*when screen is smaller than 900px add these rules*/
@media (max-width: 750px) {  
  .searchbox input {
    width: 75%;
  }
}

@media (max-width: 595px) {
      .right {
        display: none;
      }
      ul.left {
        width:60%;
        margin: 10px auto;
        float: none;
      }
}
  @media (max-width: 474px) {
      * {
        font-size: 12px;
      }
      .profile_img {
        display: none;
      }
      ul.nav {
        margin-right:0;
      }
      ul.nav li {
        margin-right:0;
      }
  }




